
<ion-content style="background: #3f4e55 " class="img-cover">


  <p text-center>
    <img src="assets/imgs/app-logo.png" class="mt125 center" width="80%">
  </p>
  <p class="text-white font-12 plr30 center">Please enter your phone number to continue.</p>


  <div padding>
    <ion-item>
      <ion-input type="tel" class="center" placeholder="0900 78601 78601"></ion-input>
    </ion-item>
    <button ion-button block (click)="gotoHome()" color="texto" class="login-button mt20">Validate</button>
  </div>

</ion-content>



