<ion-header>
    <ion-navbar class="navbar-standard shadow-medium">
      <p ><small class="font-12 fw600 m0 text-white ">Paying History</small></p>
    </ion-navbar>
  </ion-header>

  <ion-content class="mt20 bg-light">

      <div class="bg-white round-medium m10 p20 border-b-big-standard">
          <h6 class="text-dark m0 pt30 center font-14">Lastest Payment</h6>
          <div class="border-solid-hw mtb10"></div>
          <ion-grid class="m0-auto">
            <ion-row>
                <ion-list>
                    <ion-item>
                      <img src="assets/img-icons/calendar-red.png" item-start width="50px" class="va-webkit" />
                         <small class="text-dark fw500 font-14">Amount : 300</small>
                      <p><small class="text-dark fw500 cap font-14">Billing Month : May  2019 </small></p>
                      <p><small class="text-dark fw500 cap font-14">Due Date : 01-06-2019 </small></p>
                      <p><small class="text-dark fw500 cap font-14">Status : not Paid </small></p>
                    </ion-item>
                  </ion-list>

                  <button ion-button block color="texto" class="login-button p20 mt-10"><span class="text-white fw500">Pay Now</span></button>

            </ion-row>

          </ion-grid>
        </div>

        <div class="p10"></div>


    <div class="bg-white round-medium m10 pt20 plr20 border-b-big-standard">
        <h6 class="text-dark m0 pt30 center font-14">Paying History Logs</h6>
        <div class="border-solid-hw mtb10"></div>
        <ion-row class="p5" >
            <ion-col>
                <ion-list>
                  <ion-item no-lines >
                    <img src="assets/img-icons/calendar-red.png" item-start width="40px" class="va-webkit" />
                    <small class="text-dark fw500 font-14">Amount : 300</small>
                    <p><small class="text-dark fw500 cap font-14">Billing Month : May  2019 </small></p>
                    <p><small class="text-dark fw500 cap font-14">Status : Not Paid </small></p>
                  </ion-item>
                  <ion-item no-lines >
                      <img src="assets/img-icons/calendar-green.png" item-start width="40px" class="va-webkit" />
                      <small class="text-dark fw500  font-14">Amount : 300</small>
                      <p><small class="text-dark fw500 cap font-14">Billing Month : April  2019 </small></p>
                      <p><small class="text-dark fw500 cap font-14">Status : Paid </small></p>
                    </ion-item>
                    <ion-item no-lines >
                        <img src="assets/img-icons/calendar-green.png" item-start width="40px" class="va-webkit" />
                        <small class="text-dark fw500  font-14">Amount : 300</small>
                        <p><small class="text-dark fw500 cap font-14">Billing Month : March  2019 </small></p>
                        <p><small class="text-dark fw500 cap font-14">Status : Paid </small></p>
                      </ion-item>
                      <ion-item no-lines >
                          <img src="assets/img-icons/calendar-green.png" item-start width="40px" class="va-webkit" />
                          <small class="text-dark fw500  font-14">Amount : 300</small>
                          <p><small class="text-dark fw500 cap font-14">Billing Month : Feb  2019 </small></p>
                          <p><small class="text-dark fw500 cap font-14">Status : Paid </small></p>
                        </ion-item>

                </ion-list>
            </ion-col>
          </ion-row>

      </div>

      <div class="p20"></div>

  </ion-content>
