page-home {


  #profile-image {
    display: block;
    border-radius: 50%;
    width: auto;
    height: 70px;
    margin: 0 auto 0;
    box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.75);
    border: 3px solid #fff;
  }
}
