<ion-header>
    <ion-navbar class="navbar-standard shadow-medium">
      <p ><small class="font-12 fw600 m0 text-white ">Paying History</small></p>
    </ion-navbar>
  </ion-header>


<ion-content class="bg-light">

    <div class="p20 round-medium">
        <img src="assets/imgs/dummy-ad.png" />
      </div>


    <div class="pt20 pb50 shadow-big"
      style="background: url('https://image.freepik.com/free-photo/luminous-colors-gradient_23-2147734161.jpg') no-repeat; background-size: cover;">
      <div class="center">
        <ion-item class="bg-transparent p30">
          <ion-avatar item-start>
            <img id="profile-image" src="assets/img-icons/avatar-male.png" />
          </ion-avatar>
          <p class="text-white font-24 fw600">Cheetan Sharma</p>
          <h2 class="mt-15 font-14 text-white">0101230114</h2>
        </ion-item>
      </div>
      <div class="m0-auto">
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col col-5><span class="text-white font-12">Payment ID :
              <span class="text-white font-12 fw600">1031</span></span>
          </ion-col>
          <ion-col col-6><span class="text-white font-12 ">Area :
              <span class="text-white font-12 fw600">Rawalpindi </span></span></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col col-5><span class="text-white font-12 ">Due Payment : <span class="text-white font-12 fw600">1000
              </span></span>
          </ion-col>
          <ion-col col-6><span class="text-white font-12 ">Due Date :
              <span class="text-white font-12 fw600">01 - 03 - 2019 </span></span></ion-col>
        </ion-row>

        <ion-row class="mt10 center p5">
            <ion-col col-3></ion-col>
            <ion-col>
              <div class="border round-small p10 bg-white"  >
                <h6 class="mtb0 font-10">Pay Now</h6>
              </div>
            </ion-col>
            <ion-col col-3></ion-col>
        </ion-row>
      </div>
    </div>

  <ion-grid class="center">

    <ion-row class="p5">
      <ion-col (click)="stbPage()">
        <div class="border round-medium p20 pt30 bg-white">
          <img src="assets/img-icons/tv.png" width="45px" title="Lion Head">
          <h6 class="mtb0 font-13 fw600">STB Details</h6>
        </div>
      </ion-col>
      <ion-col (click)="payPage()">
        <div class="border round-medium p20 pt30 bg-white">
          <img src="assets/img-icons/eleave.png" width="45px" title="Lion Head">
          <h6 class="mtb0 font-13 fw600">Payment History</h6>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="p5">
      <ion-col (click)="billPage()">
        <div class="border round-medium p20 pt30 bg-white">
          <img src="assets/img-icons/eclaim.png" width="50px" title="Lion Head">
          <h6 class="mtb0 font-13 fw600">Bill History</h6>
        </div>
      </ion-col>

      <ion-col (click)="complaintPage()">
        <div class="border round-medium p20 pt30 bg-white">
          <img src="assets/img-icons/notepad.png" width="50px" title="Lion Head">
          <h6 class="mtb0 font-13 fw600">Lodge Complaint</h6>
        </div>
      </ion-col>
    </ion-row>




  </ion-grid>

</ion-content>
