// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #25b2e7,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  lightwa:    #ffffff,
  greywa:     #7f8c8d,
  textb:      #15c1ff,
  textr:      #e84c3d,
  texto:      #f26628,
  black:      #000000,
  main:       #4cd137
);

.textr{
  color:#e84c3d;
  font-family: 'Roboto Condensed', sans-serif;
}
.texto{
  color:#ff8b3e;
  font-family: 'Roboto Condensed', sans-serif;
}
.textb{
  color:#15c1ff;
  font-family: 'Roboto Condensed', sans-serif;
}
.textw{
  color:#fff !important;

}

.textBlack{
  color:#000;
}

.textgr{
  color:#b4b4b4;
  font-family: 'Roboto Condensed', sans-serif;

}

.textg{
  color:#4cd137;
  font-family: 'Roboto Condensed', sans-serif;

}

.rowhr
{
  border-bottom:#818181 solid 1px !important;
}



.rowhrTop
{
  border-top:#818181 solid 1px !important;
}
.bgRed{
  background-color:#ff0000;
}

.bgBlue{
  background-color:#15c1ff;
}

.bgBlack{
  background-color:#000000;
}

.bgBlacka{
  background-color:#111111;
}

.bgWhite{
  background-color:#ffffff;
}

.topBlueborder{
  border-bottom:2px #15c1ff solid;
}




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


.text-input::-moz-placeholder {
  color: white;
}

.text-input:-ms-input-placeholder {
  color: white;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: white;
}


.datetime-md .datetime-placeholder { color: #ffffff!important; }

.datetime-ios-placeholder-color{color: #ffffff!important; }

$tabs-md-background:#ffffff;
