<ion-split-pane when="lg">
  <ion-menu [content]="content" [swipeEnabled]="false">
    <ion-content class="left-menu">

      <div class="relative z-shi pb40">

        <ion-item class="bg-transparent p30">
          <ion-avatar item-start>
            <img src="../assets/imgs/member1.jpg">
          </ion-avatar>
          <h6 class="text-white">Cheetan Sharma</h6>
          <p class="font-9 text-white">01990 88776 12</p>
        </ion-item>


        <span class="main-menu" (click)="loginPage()" menuClose>
          <ion-icon item-start name="exit" color="light"></ion-icon> <span class="pl2 text-white">Logout</span>
        </span>




      </div>

    </ion-content>

    <ion-footer class="bg-dark">
      <span class="text-white p10 font-7">Mobiezy v 1.0</span>
      <span class="text-white p10 font-7 abs-r">by Arsi Khan</span>
    </ion-footer>
  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
</ion-split-pane>
