page-package-single {

  .searchbar-ios .searchbar-search-icon{
    display: none !important;
  }

  .searchbar-md .searchbar-search-icon{
    display: none !important;
  }

  .searchbar-input{
    border-bottom: 2px solid #f26628;
  }

  .searchbar-ios{
    background-color: transparent !important;
  }
}
