<ion-header>
    <ion-navbar class="navbar-standard shadow-medium">
      <p><small class="font-12 fw600 m0 text-white ">Package name</small></p>
    </ion-navbar>
  </ion-header>


<ion-content padding class="bg-light">

  <ion-row class="p5">

    <ion-searchbar showCancelButton="focus" animated  placeholder="Search a channel"></ion-searchbar>

  </ion-row>
    <ion-row class="p5">
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-icon name="ionic" color="texto" item-start></ion-icon>
              <small class="text-dark fw500 font-12">Channel Name</small>
              <p><small class="cap font-12">300 INR / month </small></p>
              <ion-icon name='add-circle' color="texto" is-active="false" item-end></ion-icon>
            </ion-item>
            <ion-item>
                <ion-icon name="ionic" color="texto" item-start></ion-icon>
                <small class="text-dark fw500 font-12">Channel Name</small>
                <p><small class="cap font-12">300 INR / month </small></p>
              <ion-icon name='remove-circle' color="danger" is-active="false" item-end></ion-icon>
            </ion-item>
            <ion-item>
                <ion-icon name="ionic" color="texto" item-start></ion-icon>
                <small class="text-dark fw500 font-12">Channel Name</small>
                <p><small class="cap font-12">300 INR / month </small></p>
              <ion-icon name='add-circle' color="texto" is-active="false" item-end></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

</ion-content>

<ion-footer class="center bg-standard shadow-medium p20">
    <div>
      <img src="assets/img-icons/pay-now.png" width="25px" class="va-sub">
      <span class="text-white ml5">Pay 300 </span>
    </div>
  </ion-footer>

