<ion-header>
  <ion-navbar class="navbar-standard shadow-medium">
    <p><small class="font-12 fw600 m0 text-white ">Register your Complaint</small></p>
  </ion-navbar>
</ion-header>

<ion-content class="mtb20 bg-light">

  <div class="center m10 p20 bg-standard round-medium">
    <h6 class="m0 pt30 center font-14 text-white">Complaint form</h6>
    <div class="border-solid-hw mtb10"></div>

    <ion-grid>
      <ion-row>
        <ion-col col-sm-6 offset-sm-3>
          <div class="ptb10">
            <div class="box-form-fill pb30">

              <ion-list class="mb20">
                <ion-item class="form-fill round-small bg-white font-16 text-dark no-border pl25 mt30">
                  <ion-label class="text-dark">Complaint Type</ion-label>
                  <ion-select [(ngModel)]="shift" class="pr20">
                    <ion-option value="first">Service</ion-option>
                    <ion-option value="second">2nd</ion-option>
                    <ion-option value="third">3rd</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>

              <ion-list class="mb20">
                <ion-item class="form-fill round-small bg-white font-16 text-dark no-border pl25 mt30">
                  <ion-label class="text-dark">Select Issue</ion-label>
                  <ion-select [(ngModel)]="emp" class="pr20" multiple>
                    <ion-option value="e1">Issue 1</ion-option>
                    <ion-option value="e2">Issue 2</ion-option>
                    <ion-option value="e3">Issue 3</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>

              <textarea class="form-fill bg-white round-small font-16 text-dark ptb10 plr20 no-border" rows="2" type="text" placeholder="Write your remarks"></textarea>


              <button ion-button block color="lightwa" class="login-button mt10"><span
                  class="text-standard fw500">Submit</span></button>


            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="p10"></div>

</ion-content>
